 <footer>
<div class="py-3 my-4">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">Accueil</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">Occasions</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link px-2 text-body-secondary">Filtres</a>
		</li>

	</ul>
	<div class='row'>
		<div class="col-6">
			<p>Garage Vincent Parrot</p>
			<p>1 Route de la Garonne</p>
			<p>31 000 TOULOUSE</p>
		</div>


		<div class="col-6">

			<p>Horaires d ouverture</p>
			
				<p>Lundi au vendredi</p>
					<p>Matinée : 8h à 12h</p>
					<p>Apres-midi:14h à 17h</p>
				<p>Samedi :8h30 à12h30 et Dimanche fermé</p>


			<p class="text-center text-body-secondary">© 2023 Company, Inc</p>
		</div>
	</div>
</footer> 
